body{
    width: 100%;
    text-transform: uppercase;
    background:url(../IMG/descarga\ \(8\).jpg);
    background-size:cover;
    padding-top: 100px;
}
h3{
    height: 50px;
    width: 500px;
    margin:5px auto;
    background-image: url(../IMG/WhatsApp\ Image\ 2022-12-07\ at\ 10.04.18\ AM.jpeg);
    background-size: cover;
    background-position: center;
    padding: 50px 50px 77px;
    box-shadow: 0px 35px 30px --22px rgba(243, 155, 206, 0.72);
    text-align: center;
}

p{
    text-align: center;
    color: azure;
    height: 150px;
    
}

h4{
    text-align: center;
}
   